header.header{
     img.header-img{
       width: 375px;
       height: 240px;

    }
     h1{
        margin-left: 16px;
      margin-top: 50px;
      font-weight: 900;
      font-size: 60px;
      line-height: 55px;
      letter-spacing: 0px;
      text-align: left;
     }
     p{
     margin-left: 16px;
     font-family: $secondary-font;
     margin-top: 30px;
     font-weight: 400;
     font-size: 18px;
     line-height: 28px;
     letter-spacing: 0px;
     text-align: left;
     color: $Dark-grey;
     }
} 
/*RESPONSIVE (TABLET)*/

header.header{
    @include breakpoint(tablet){
        display: flex;
    .right{
     position:absolute;
     left:351px;
    }
      img.header-img{
        width: 437px;
        height: 400px;
     }
     h1{
       font-weight: 900;
       font-size: 70px;
       line-height: 65px;
       letter-spacing: 0px;
       text-transform: uppercase;

     }
     p{
     margin-left: 16px;
     font-family: $secondary-font;
     font-weight: 400;
     font-size: 18px;
     line-height: 28px;
     letter-spacing: 0px;
     color: $Dark-grey;
    }}
}

header.header2{
    @include breakpoint(tablet){
    img{
        width: 768px;
        height: 600px;

    }
}
}

/*RESPONSIVE (LARGEDESKTOP)*/
header.header{
    @include breakpoint(largedesktop){
     picture{
        img{
        width: 540px;
        height: 800px;
        position: absolute;
        left: 449px;
        top: 0px;
        z-index: -1;
        }}
     .right{
      display: flex;
      flex-direction: row;
      padding: 40px;
    }

     h1{
     font-weight: 900;
     font-size: 96px;
     line-height: 88px;
     letter-spacing: 0px;
     text-transform: uppercase;
     text-align: left;
     color: $white;
     width: 514px;
     padding-right: 102px;
     position: relative;
        left: 134px;
        top: 100px
     }
     p{
     margin-left: 16px;
     font-family: $secondary-font;
     margin-top: 30px;
     font-weight: 400;
     font-size: 22px;
     line-height: 32px;
     letter-spacing: 0px;
     text-align: left;
     color: $Dark-grey;
     width: 350px;
     position: relative;
     top: 149px;
    left: 344px;
     }
} 
}

header.header2{
    @include breakpoint(largedesktop){
    img{
       width: 1440px;
       height: 600px;

    }
}
}