section.hero{
    margin-top: 50px;
    padding:16px;
    img.img1{
        width: 343px;
        height: 320px;     
  }
    h2{
        margin-top: 16px;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;
        letter-spacing: 0px;

    }
    p{
      margin-top: 10px;
      font-family:  $secondary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      color: $Dark-grey;
      text-align: left;

    }
    img.img2{
        margin-top: 40px;
        width: 343px;
        height: 480px;


    }
    img.img3{
        padding-top: 16px;
    }
}  

div.end{
    background-color: $Black;
    h2{
        padding: 20px;
     font-weight: 900;
     font-size: 50px;
     line-height: 45px;
     letter-spacing: 0px;
     color:$white;
    }
    p{ 
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        font-family: $secondary-font;
     color: $white;
    }
}

 section.info{
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left:16px;
    padding-right: 16px;
   background-color: $Black;
   .info-title{
      padding-top: 10px;
      font-weight: 900;
      font-size: 50px;
      line-height: 45px;
      letter-spacing: 0px;
      color: $white;
    }
    h3{
        padding-top: 40px;
         font-weight: 900;
         font-size: 32px;
         line-height: 32px;
         letter-spacing: 0px;
         color:$Gold;
         padding-bottom: 20px;
    }
    p{
      color:$white;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;

    }
    p.info-p{
     padding-top: 20px;
    }
}

/*RESPONSIVE TABLET*/
section.hero{
    @include breakpoint(tablet){
    margin-top: 50px;
    padding:16px;
    .words{
      padding: 16px;
    }
    .herocontent{
      margin-top:30px;
      display: flex;
      flex-direction: row-reverse;
    }
    img.img1{
      width: 398px;
      height: 400px;
   
  }
    h2{
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 103px;
    padding-bottom: 20px;
    padding-top: 20px;


    }
    p{
      font-family:  $secondary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;
      color: $Dark-grey;
      text-align: left;
     padding-right: 77px;
     padding-bottom: 20px;


    }
    img.img2{
     width: 398px;
     height: 720px;    
     margin-top: 0px;
    }
    img.img3{
        width: 328px;
        height: 345px;
        padding-top: 16px;
        position: relative;
        right: -5px;
        bottom: 391px;
    }
}  

div.end{
    @include breakpoint(tablet){
       position: absolute;
        left: 423px;
        bottom: -818px;
        width: 328px;
        height: 382px;
       background-color: $Black;
    h2{
        padding: 20px;
     font-weight: 900;
     font-size: 50px;
     line-height: 45px;
     letter-spacing: 0px;
     color:$white;
    }
    p{ 
        padding-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px;
        font-family: $secondary-font;
     color: $white;
    }
}
}
}

section.info{
    @include breakpoint(tablet){
    display: flex;
    gap:80px;
    align-items: baseline;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left:16px;
    padding-right: 94px;
   background-color: $Black;
   .info-title{
      padding-top: 10px;
      font-weight: 900;
      font-size: 50px;
      line-height: 45px;
      letter-spacing: 0px;
      color: $white;
    }
    h3{
        padding-top: 40px;
         font-weight: 900;
         font-size: 32px;
         line-height: 32px;
         letter-spacing: 0px;
         color:$Gold;
         padding-bottom: 20px;
    }
    p{
      color:$white;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0px;

    }
    p.info-p{
     padding-top: 20px;
    }
}
}

/*RESPONSIVE (LARGEDESKTOP)*/
section.hero{
    @include breakpoint(largedesktop){
    margin-top: 550px;
    padding:100px;
    img.img1{
      width: 635px;
      height: 400px;
   
  }
    .herocontent{
        display: flex;
        flex-direction: row-reverse;
        gap: 180px;
        align-items: center;
  }
    h2{
        margin-top: 16px;
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
        letter-spacing: 0px;
       text-transform: uppercase;
        width: 339px;
        height: 120px;


    }
    p{
      margin-top: 30px;
      font-family:  $secondary-font;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0px;
      color: $Dark-grey;
      text-align: left;
      width: 350px;
      height: 120px;


    }
    img.img2{
        margin-top: 40px;
        width: 718px;
        height: 720px;
        margin-left: 60px;
    }
    img.img3{
        width: 445px;
        height: 313px;
        padding-top: 16px; 
        position: absolute;
        right: 93px;
        bottom: -1113px;
        padding-left: 20px;
    }
    }
} 

/*RESPONSIVE (LARGEDESKTOP)*/
div.end{
    @include breakpoint(largedesktop){
       position: absolute;
        left: 898px;
        width: 452px;
        height: 390px;
        bottom: -1532px;
       background-color: $Black;
    h2{
      font-weight: 900;
      font-size: 60px;
      line-height: 60px;
      letter-spacing: 0px;
     text-transform: uppercase;
     color:$white;
     margin-left: 30px;
     text-align: left;
    }
    p{ 
        padding-top: 30px;
        padding-bottom: 40px; 
        font-weight: 400;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0px;
        font-family: $secondary-font;
        text-align: left;
        color: $white;
        margin-left: 30px;
    }
}
}

/*RESPONSIVE (LARGEDESKTOP)*/
 section.info{
     @include breakpoint(largedesktop){
        display: flex;
        gap: 250px;
        flex-direction: row;
        align-items: flex-start;
        padding: 100px 170px;
       background-color: $Black;
     .info-title{
      padding-top: 10px;
      font-weight: 900;
      font-size: 70px;
      line-height: 70px;
      letter-spacing: 0px;
     text-transform: uppercase;
      color: $white;
      margin: 25px;
    }
    h3{
         padding-top: 40px;
         font-weight: 900;
         font-size: 36px;
         line-height: 36px;
         letter-spacing: 0px;
         text-transform: uppercase;
         color:$Gold;
         padding-bottom: 20px;
    }
    p{
      color:$white;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 0px;

    }
    p.info-p{
     padding-top: 20px;
     padding-left: 20px;
    }
}
}



