.button{
    margin-left: 16px;
    padding-top: 30px;
    display: flex;
    a.vector{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 204px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     

}
}

.button2{
    position: absolute;
    display: flex;
    a.vector2{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     text-decoration: none;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 204px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     

}
}

/*RESPONSIVE (TABLET)*/

.button{
    @include breakpoint(tablet){
    margin-left: 16px;
    padding-top: 30px;
    display: flex;
    a.vector{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 204px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     
}
}
}

.button2{
    @include breakpoint(tablet){
    position: absolute;
    display: flex;
    left:35px;
    a.vector2{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     text-decoration: none;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;
        height: 25px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 204px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     

}
}
}

/*RESPONSIVE (LARGEDESKTOP)*/
.button{
    @include breakpoint(largedesktop){
    margin-left: 16px;
    padding-top: 30px;
    display: flex;
    position: relative;
    top: 360px;
    left: -16px;
    a.vector{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 204px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     

}
}
}

.button2{
    @include breakpoint(largedesktop){
    position: absolute;
    display: flex;
    left:159px;
    a.vector2{
     background-color: $Gold;
     width: 56px;
     height: 72px;
     padding: 20px;
     text-decoration: none;
     &:hover{
       background-color: $Black;
    }
       img{
        width: 10px;
        height: 25px;

    }

    }
    button{
    list-style: none;
    text-decoration: none;
    background-color:$Black;
    width: 226px;
    height: 72px;
    box-shadow: none;
    border-color: $Black;
    &:hover{
       background-color: $Gold;
      }
      a{
     color:$white;
     text-decoration: none;
     font-weight: 800;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 3.64px;
     }
     

}
}
}