html * {
    font-family: "big shoulders", "outfit", sans-serif;
}
 
body {
    margin:16 auto;
    overflow-x: hidden;
} 

body.page1{
   @include breakpoint(largedesktop){
    &::before{
        content: "";
        background-color: $Black;
        position: absolute;
        width: 450px;
        height: 799px;
        top: 0px;
        z-index:-1;
    }
}
}